## Created by Wincent Colaiuta on 11 April 2007.
## Copyright 2007 Wincent Colaiuta
## $Id: /mirrors/Hextrapolate/trunk/en.lproj/help/example_basic.tmpl.txt 6745 2007-04-12T13:07:56.741665Z wincent  $

#extends '../../../buildtools/help/basic'

#def setup
  #include '../settings.txt'
  #set $page_title  = 'Decimal representation'
  #set $tag         = 'decimal_representation'
  $see_also($link_to('bases'))
  $see_also($link_to('binary_representation'))
  $see_also($link_to('hexadecimal_representation'))
  $see_also($link_to('octal_representation'))
#end

###############################################################################

#def content

An decimal representation is a number written using Base 10. Each digit may have only one of 10 possible values (0 through 9). The decimal number system is the most familiar and widely used among humans; computers tend to use binary representations internally, and programmers are often work with hexadecimal and octal representations.

Appending a zero to the right-hand side of a decimal representation multiplies it by 10.

#end
