## Created by Wincent Colaiuta on 21 April 2007.
## Copyright 2007 Wincent Colaiuta
## $Id: /mirrors/Hextrapolate/trunk/en.lproj/help/example_basic.tmpl.txt 6761 2007-04-14T11:59:53.204092Z wincent  $

#extends '../../../buildtools/help/basic'

#def setup
  #include '../settings.txt'
  #set $page_title  = 'Learn about Hextrapolate'
  #set $tag         = 'learn_about'
  ###set $abstract    = "if different from page title"
  ##$see_also($link_to('base2', 'other text'))
  ##$see_also($link_to_category('base2', 'other text'))
#end

###############################################################################

#def content

Hextrapolate is a conversion tool that converts numbers in any base &mdash; from base 2 (binary) right through to base 36 &mdash; into any other base. It can also convert to and from string representations of numbers using different, user-selectable text encodings (ASCII, UTF-8 and UTF-16).

Humans are most accustomed to thinking and working in base 10 (decimal) but computers regularly employ other formats, especially base 2 (binary), base 8 (octal) and base 16 (hexadecimal). Hextrapolate is useful not only for programmers but for any computer user that needs to convert numbers from one base into another.

<div class="feature">

h2. Start typing<br>
<img src="../gfx/tool-tips.png" width="171" height="105" alt="Tool-tips">

To get started just begin typing in one of Hextrapolate's input fields. As you type each new digit or character all of the other fields will update in realtime to show the equivalent value expressed in other bases and formats. If you try to type a digit that is not valid for a given base Hextrapolate will show you a tool-tip indicating which digits are allowed. There are no arbitrary limits to the size of numbers that you can convert using Hextrapolate; even numbers containing thousands of digits and more can be converted.

* $link_to('bases')
* $link_to('let_me_type', 'Getting feedback on errors')

</div>

<div class="feature">

h2. Make choices<br>
<img src="../gfx/more-choices.png" width="129" height="110" alt="More choices">

Preset fields are provided for the most common bases used in computing (binary, octal, decimal and hexadecimal). In addition to these fields Hextrapolate provides a number of custom fields which you can use to perform exotic conversions (for example, from Base 13 to Base 29) and encodings to and from textual string representations.

* $link_to('bases')
* $link_to('text_encodings')

</div>

<div class="feature">
  
h2. Get help when you need it<br>
<img src="../gfx/integrated-help.png" width="171" height="105" alt="Integrated help">

The extensive help documentation that you're reading right now is always available from the Help menu; the help is embedded inside the application itself so you don't need to be connected to the Internet to read it. The Hextrapolate Help is modelled to look just like the familiar and easy-to-use help provided by Apple with its own applications, and you can browse or search through it from within the Mac OS X Help Viewer.

* $link_to('troubleshooting_tips')
* $link_to('full_index')

</div>

#end


