## Created by Wincent Colaiuta on 11 April 2007.
## Copyright 2007 Wincent Colaiuta
## $Id$

#extends '../../../buildtools/help/task'

#def setup
  #include '../settings.txt'
  #set $page_title  = "What to do if you haven't received your license"
  #set $tag         = 'missing_license'
  $see_also($link_to('registering', 'Registering Hextrapolate'))
  $see_also($link_to('purchasing', 'Purchasing Hextrapolate'))
#end

#def content

Once your transaction is complete it will be processed by an automated system and your license code will be sent to you immediately. If you still haven't received your license code after a few minutes check the following:

<div id="task_box">
  
h2. Check the registration address

This is especially important if you paid using PayPal; if you set up your PayPal account a long time ago then your license code may have been sent to an old address. Log in to your PayPal account and double-check your email address.

If you paid via Kagi then you should double-check that there are no typographical errors in your email address. You should have received one email from Kagi and one from Wincent. Kagi provides a web interface at <a href="http://info.kagi.com/">info.kagi.com</a> so that you can check the status of your orders.

h2. Check your junk mail folder

Your license notice may have been incorrectly classified as junk mail. Look inside your junk mail folder to see if the license was put there; it will have a subject line like "Hextrapolate license information" and will originate from the wincent.com domain.

h2. Did you pay via eCheck?

If you paid using a PayPal eCheck then the transaction will not be completed until the payment has cleared. eChecks are like real-world checks: PayPal imposes a clearance delay of several days (typically about four business days) before allowing the funds to clear and the transaction to be completed. Immediately upon clearance PayPal's automated systems will cause your license notice to be sent to you via email. There is no human intervention required so there should be no additional delays.

There is nothing I can do to speed up the clearance as it is determined by PayPal policy. If you wish to avoid the delay please choose a payment method other than eCheck.

h2. Do you use a challenge-response system?

If your email account uses a challenge-response system then your license notice won't get through (the automated system which sends out license notices cannot respond to such challenges).

Check your quarantined messages folder to see if your license notice has been directed there.

If you would like your license notice to be resent, add wincent.com to your whitelist of allowed senders and then use the $link_to('lost_license_codes', 'lost license codes') form on the website to have it immediately redelivered.
  
</div>

If you still cannot find your license notice after trying the above, contact me via email at <a href="mailto:support@wincent.com">support@wincent.com</a>.

#end
