## Created by Wincent Colaiuta on 11 April 2007.
## Copyright Wincent Colaiuta 2007.
## $Id$

#extends '../../../buildtools/help/autogen/master_generated_list'

#def setup
  #include '../settings.txt'
#end

