// hextrapolate-pref-pane.xcconfig
// Settings for Hextrapolate preference pane targets
//
// Copyright 2007-2009 Wincent Colaiuta. All rights reserved.

// must use relative path here (cannot use "${BUILDTOOLS_DIR}" in an #include directive)
#include "../buildtools/pref-pane-target.xcconfig"

BUNDLE_LOADER = $(TARGET_BUILD_DIR)/Hextrapolate.app/Contents/MacOS/Hextrapolate

INFOPLIST_PREFIX_HEADER = WOHextrapolate_Version.h