html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: monospace;
}

.hextrapolate-footer {
  text-align: center;
}

.hextrapolate-field {
  display: flex;
  flex-grow: 5;
  font-size: 12px;
  position: relative;
}

.hextrapolate-field input {
  flex-grow: 80;
  font-family: monospace;
}

.hextrapolate-row {
  display: flex;
  margin-bottom: 12px;
}

.hextrapolate {
  padding: 0 64px;
}

.hextrapolate h1 {
  text-align: center;
}

.hextrapolate-base {
  display: inline-block;
  font-size: 12px;
  padding-right: 12px;
  text-align: right;
  width: 128px;
}

.hextrapolate-copy {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDMyIDMyIj48cGF0aCBmaWxsPSIjNDQ0IiBkPSJNMjAgOFYwSDZMMCA2djE4aDEydjhoMjBWOEgyMHpNNiAyLjgyOFY2SDIuODI4TDYgMi44Mjh6TTIgMjJWOGg2VjJoMTB2NmwtNiA2djhIMnptMTYtMTEuMTcyVjE0aC0zLjE3MkwxOCAxMC44Mjh6TTMwIDMwSDE0VjE2aDZ2LTZoMTB2MjB6Ii8+PC9zdmc+);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  cursor: pointer;
  display: inline-block;
  height: 16px;
  margin-left: 8px;
  overflow: hidden;
  position: relative;
  text-indent: -10000px;
  top: 4px;
  user-select: none;
  width: 16px;
}

.hextrapolate-copy-status {
  color: #0f0;
  opacity: 0;
  position: absolute;
  right: 4px;
  top: 4px;
  transform: scale(1);
  transition: transform .25s, opacity .25s;
  user-select: none;
}

.hextrapolate-copy-success {
  opacity: .5;
  transform: scale(5);
  transition: transform .5s, opacity .5s;
}
