body {
  font-family: 'Courier New';
}

.hextrapolate-input {
  flex-grow: 5;
  font-family: monaco;
  font-size: 12px;
}

.hextrapolate-label {
  display: flex;
  padding: 8px;
}

.hextrapolate-label-text {
  flex-basis: 0;
  flex-grow: 1;
  font-size: 12px;
  padding-right: 12px;
  text-align: right;
}

.hextrapolate-copy {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDMyIDMyIj48cGF0aCBmaWxsPSIjNDQ0IiBkPSJNMjAgOFYwSDZMMCA2djE4aDEydjhoMjBWOEgyMHpNNiAyLjgyOFY2SDIuODI4TDYgMi44Mjh6TTIgMjJWOGg2VjJoMTB2NmwtNiA2djhIMnptMTYtMTEuMTcyVjE0aC0zLjE3MkwxOCAxMC44Mjh6TTMwIDMwSDE0VjE2aDZ2LTZoMTB2MjB6Ii8+PC9zdmc+);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  display: inline-block;
  height: 16px;
  margin-left: 8px;
  overflow: hidden;
  position: relative;
  text-indent: -10000px;
  top: 4px;
  width: 16px;
}
